@import '../../styles/variables';
@import '../../styles/mixins';

.aviso-previo-saude {
  article {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .cto-button {
    width: fit-content;
    text-transform: uppercase;
    background-color: $nuneslisboa-red;
    color: #fff;

    &:hover {
      transform: scale(1.1);
      background-color: $nuneslisboa-red;
    }
  }

  .cto-button-w {
    width: fit-content;
    text-transform: uppercase;
    background-color: white;
    color: $nuneslisboa-red;

    &:hover {
      transform: scale(1.1);
      background-color: white;
    }
  }

  h1,
  h3 {
    font-family: $heading-font;
  }

  .hero {
    width: 100vw;
    padding: rem(16px) 5vw;
    justify-content: center;
    gap: rem(16px);
    background-size: cover;
    color: #fff;

    button {
      margin: rem(16px) 0 auto 0;
    }

    @media (min-width: 768px) {
      background-image: url('../../assets/hero-section-saude.png');
      background-position: right;

      img {
        width: 15%;
      }
    }

    @media (max-width: 767px) {
      background-image: url('../../assets/hero-section-saude-m.png');
      background-position: center;

      img {
        width: 30%;
      }
    }

    h1 {
      margin-top: auto;
      width: 60vw;
    }
  }

  .more-details {
    justify-content: center;
    align-items: center;
    padding: rem(16px) 5vw;
    height: 150vh;
    background-color: $nuneslisboa-red;
    color: white;

    h3 {
      margin: rem(32px) 0;
      align-self: center;
      color: #fff;
      font-family: $heading-font;
    }

    button {
      margin-top: rem(16px);
    }

    .last-p {
      margin-top: rem(32px);
      text-align: center;
    }

    p {
      max-width: rem(768px);
    }
  }

  .specialist {
    padding: rem(16px) 5vw;
    flex-direction: row;
    align-items: center;
    background-color: $nuneslisboa-red;

    img {
      height: 80%;
    }

    .body-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 rem(44px) 0 rem(32px);
      height: 80%;
      background-color: #fff;

      h3 {
        font-size: rem(68px);
      }

      h4 {
        font-family: $heading-font;
        font-size: rem(18px);
        font-style: italic;
        margin-bottom: rem(32px);
      }

      p {
        text-align: justify;
      }

      button {
        margin-top: rem(32px);
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column-reverse;

      .body-text {
        h3 {
          font-size: rem(28px);
          text-align: center;
        }

        h4 {
          font-size: rem(14px);
          text-align: center;
        }

        p {
          font-size: rem(14px);
        }

        button {
          margin: rem(16px) 0;
          align-self: center;
        }
      }
    }
  }

  .step-by-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: rem(32px);
    padding: rem(16px) 5vw;
    height: 130vh;
    min-height: 100vh;

    .step {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: rem(500px);
      border-bottom: solid black 1px;

      h5 {
        display: grid;
        place-items: center;
        width: rem(32px);
        height: rem(32px);
        border: solid rem(2px);
        border-radius: rem(25px);
        font-size: rem(18px);
      }

      p {
        padding: rem(10px);
        text-align: center;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(16px) 5vw;
    height: rem(250px);
    background-color: $nuneslisboa-red;

    img {
      width: rem(200px);
      margin-right: rem(64px);
    }

    .left-info {
      display: flex;
      flex-direction: column;
    }

    .contact {
      display: flex;
      flex-direction: column;
      gap: rem(8px);

      .item {
        display: flex;
        align-items: center;
        gap: rem(16px);
        color: white;
        width: rem(400px);
      }

      .social-media {
        display: flex;
        gap: rem(10px);
        color: white;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: rem(400px);
    padding: rem(24px);

    img {
      padding: 0;
      margin-bottom: rem(32px);
      align-self: center;
    }

    .item {
      max-width: rem(350px);
    }
  }
}
