@import '../../styles/variables';
@import '../../styles/mixins';

.aviso-previo-saude {
  article {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  h1,
  h3 {
    font-family: $heading-font;
  }

  .hero {
    width: 100vw;
    padding: rem(16px) 5vw;
    justify-content: center;
    gap: rem(16px);
    background-image: url('../../assets/hero-section-saude.png');
    background-size: cover;
    background-position: right;
    color: #fff;

    img {
      width: 15%;
    }

    h1 {
      margin-top: auto;
      width: 60vw;
    }

    button {
      width: fit-content;
      margin: rem(16px) 0 auto 0;
      text-transform: uppercase;
      background-color: $nuneslisboa-red;

      &:hover {
        transform: scale(1.1);
        background-color: $nuneslisboa-red;
      }
    }
  }

  .more-details {
    background-image: url('../../assets/bg-office.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    .text-box {
      padding: rem(16px) 5vw;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 100vw;

      h3 {
        color: $nuneslisboa-red;
        align-self: center;
        margin-bottom: rem(32px);
      }
    }
  }
}
