@import '../../styles/mixins';

.whatsapp-button {
  position: fixed;
  bottom: rem(32px);
  right: rem(32px);

  img {
    width: rem(64px);
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
